<header class="header">
  <nav class="nav-items">
    <div class="logo-container">
      <a href="#" class="logo"><img src="../../assets/Images/logo.PNG" alt="Login" class="logo-icon"></a>
    </div>

    <div class="login-container">
      <button routerLink="/" title="Home" class="login-button">
        <img src="../../assets/Images/home.png" alt="Login" class="login-icon">
      </button>
    </div>
  </nav>
</header>

<div class="container">
  <div class="head">
    <h4>Add Course</h4>
  </div>

  <form (ngSubmit)="addCourseAndTopic()" #courseForm="ngForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title" [(ngModel)]="course.courseName" required>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" name="description" [(ngModel)]="course.courseDescription" required></textarea>
    </div>

    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" class="form-control" id="image" name="image" (change)="onImageChange($event)" required>
    </div>

    <div class="form-group">
      <label for="topics">Topics</label>
      <table class="table">
        <thead>
          <tr>
            <th>Topic Title</th>
            <th>Topic Content</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let topic of topics; let i = index">
            <td>
              <input type="text" class="form-control" [name]="'topicTitle' + i" [(ngModel)]="topic.topicName" required>
            </td>
            <td>
              <input type="file" class="form-control" [name]="'topicContent' + i" (change)="onTopicContentChange($event, i)" required>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="deleteTopic(i)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <button type="button" class="btn btn-primary" (click)="addTopic()">Add Topic</button>
    <button type="submit" class="btn btn-primary" [disabled]="!courseForm.form.valid">Add Course</button>
  </form>
</div>

<footer class="footer">
  <h6 style="align-content: center;">CodeCraft</h6>
</footer>


