
<body>
      

<app-navigation></app-navigation>
<!-- <h1>Enrollments vs courses</h1>  -->
<div class="chart-container">
    
    <div class="base"></div>
    <!-- Left Side Meter-->
    <ul class="meter">
      <li><div>{{ yAxis[0] }}</div></li>
      <li><div>{{ yAxis[1] }}</div></li>
      <li><div>{{ yAxis[2] }}</div></li>
      <li><div>{{ yAxis[3] }}</div></li>
      <li><div>{{ yAxis[4] }}</div></li>
    </ul>
    <!-- Background-Grid -->
     <!-- <table>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table> -->
    <!-- End Background Grid -->
   
    <div class="bar one">{{ courseNames[0] }}</div>   
    <div class="bar two">{{ courseNames[1] }}</div>   
    <div class="bar three">{{ courseNames[2] }}</div>
    <div class="bar four">{{ courseNames[3] }}</div>   
    <div class="bar five">{{ courseNames[4] }}</div>   
    <div class="bar six">{{ courseNames[5] }}</div>
    <div class="bar seven">{{ courseNames[6] }}</div>   
    <div class="bar eight">{{ courseNames[7] }}</div> 

    <div class="y-axis-label">Enrollment</div>
  <div class="x-axis-label">Courses</div>
  </div>
</body>
  