.graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  canvas {
    width: 600px;
    height:350px;
    padding: 70px; /* Add padding around the canvas */
    
  }
  .enrollment-label {
    font-size: 18px;
    margin-top: 10px; /* Adjust the margin as needed */
   
  }
